.transition-fade {
    opacity: 1;
    transition: 1000ms;
    transform: translateX(0);
    transform-origin: right;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    transform: translateX(-100%);
    opacity: 0;
}