/*
    Border checking
*/

body {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.menuLogo {
    width: 25%;
    height: 100%;
}

.screen {
    height: 50vh;
}

.screen {
    position: relative;
    padding: 25vh;
    min-height: 100vh;
    /*width: 100vw;*/
    box-sizing: border-box;
    /*box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);*/
    transform-style: inherit;
}

.screen:nth-child(2) {
    position: relative;
    padding: 25vh;
    min-height: 50vh;
    width: 100vw;
    box-sizing: border-box;
    /*box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);*/
    transform-style: inherit;
}

.screen:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);*/
}

.optionText {
    width: 30%;
    padding: 5%;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    position: absolute;
}

.screen:nth-child(2n) .optionText {
    margin-left: 50%;
    margin-right: auto;
    transform: translateZ(-2px);
}

.screen:nth-child(2n+1) .optionText {
    margin-left: auto;
    margin-right: 0;
    z-index: 2;
}

.screen,
.screen:before {
    /*  margin-top: 20%;
    */
    background: 100% 100% / cover;
    background-attachment: fixed;
}

.optionText {
    top: 0;
    width: 60%;
    padding: 5%;
    height: 65%;
    /*background: rgba(240, 230, 220, .7);*/
    background-color: white;
    /*box-shadow: 0 0 8px rgba(0, 0, 0, .7);*/
    position: absolute;
}

.optionText p {
    width: 50%;
    /*display: inline-block;*/
}

#menuOption_1 .optionText {
    left: 0;
    margin: 10% 5% 0 0;
}

#menuOption_2 .optionText {
    right: 0;
    margin: 10% 0 0 5%;
}

#menuOption_3 .optionText {
    left: 0;
    margin: 10% 5% 0 0;
}

#menuOption_4 .optionText {
    right: 0;
    margin: 10% 0 0 5%;
}

img.pngPick {
    height: 90%;
    position: absolute;
    right: 0;
    /*top: 0;*/
    margin-right: -16%;
    margin-top: -23%;
}


/* .optionText {
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    z-index: 3;
} */

#menuOption_1 {
    background-image: url("media/backgrounds/level1_concept.png");
    /*background-image: url("media/backgrounds/img_parallax.jpg");*/
    transform: translateZ(-2px);
}

#menuOption_2 {
    background-image: url("media/backgrounds/filmCoverPage.jpg");
    /*background-color: silver;*/
    z-index: 2;
    background-position: center 10%;
}

#menuOption_3 {
    /*background-image: url("media/backgrounds/img_parallax3.jpg");*/
    background-color: gold;
    transform: translateZ(-2px);
}

#menuOption_4 {
    /*background-image: url("media/backgrounds/img_parallax4.jpg");*/
    background-color: silver;
    z-index: 2;
}

#menuOption_5 {
    /*background-image: url("media/backgrounds/img_parallax2.jpg");*/
    background-color: gold;
    transform: translateZ(-2px);
}


/* The projects page */

.flip-card {
    background-color: transparent;
    width: 15%;
    height: 40vh;
    margin-left: 2.5%;
    perspective: 1000px;
    float: left;
}


/* To move the first tile only */

.flip-card:nth-child(1) {
    margin-left: 7.5%;
}

.flip-card-inner {
    border-radius: 5%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.315);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 5%;
    background-color: rgb(0, 1, 68);
    color: rgb(255, 255, 255);
}

.flip-card-back {
    border-radius: 5%;
    background-color: #00473e;
    color: white;
    transform: rotateY(180deg);
}


/*HomePage(){*/

nav {
    /*background-color: gold;*/
    position: relative;
    height: 10vh;
}

img.menuLogo {
    width: 15%;
    /*width: auto;*/
}

nav>div {
    display: inline-block;
    vertical-align: middle;
    right: 0;
    position: absolute;
}

nav>div>ul {
    width: 30vw;
    text-align: right;
}

nav>div li {
    font-size: 20px;
    width: 40%;
    display: inline-block;
    text-align: center;
    color: black;
}

nav>div li>a {
    text-decoration: none;
    color: black;
}

#splashPage {
    height: 90vh;
    /*background-color: red;*/
    /*padding: 0;*/
    text-align: center;
}

div#splashPage>div {
    margin: 0 auto;
    display: inline-block;
    /*background-color: red;*/
}

div#splashPage>div>h1 {
    font-size: 10.9vw;
    text-align: left;
    font-family: "impact";
    margin: 0;
}

div#splashPage>div>h3 {
    text-align: left;
    margin-top: -30px;
    padding-left: 4px;
}

.card {
    pointer-events: none;
    transform: translateZ(0);
    width: 40%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: absolute;
}

.card:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 10px;
    border-radius: 50px;
}

.card-content {
    margin: 1%;
    text-align: center;
    transform-style: preserve-3d;
    position: absolute;
}

.card-content img {
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 16px #333;
}

.card-content:before {
    content: '';
    position: absolute;
}


/*}HomePage*/